*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
    
}

body{
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
}  

h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

/* -----SECCION HEADER----- */
.header{
    width: 100%;
    background-color: #353a40;
}
.menuNav{
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.menu{
    width: 53%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoTexto{
    width: 100%;
    display: flex;
    align-items: center;
}
h1{
    font-size: 15px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.logo{
    width: 45%;
    height: auto;
    cursor: pointer;
}

/* -----MENÚ HAMBURGUEZA----- */
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.navbar-light .navbar-toggler {
    border-color: #fff;
    font-size: 20px;
    margin-bottom: 14px;
}
.navbar-toggler {
    padding: 4px;
}
.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
.navbar-nav {
    align-items: flex-end;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-nav .activoBlanco {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    padding: 8px;
    font-size: 12px;
}
.navbar-nav .activoVerde {
    color: #29a744;
    text-decoration: none;
    font-weight: 600;
    padding: 8px;
    font-size: 12px;
}

/* -----SECCION UNO----- */

.seccionUno{
    width:100%;
    height: 450px;
}
.seccionUno .imgBsAs{
    width:100%;
    height:100%;
    filter: brightness(50%);
    object-fit: cover;
    text-align: center;
    top: 108px;
    right: 0;
}
.textoBanner{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 267px;
    right: 0;
    color: #fff;
}
.textoBanner h2{
    margin-bottom: 13px;
}
.textoBanner p{
    width: 90%;
    margin-bottom: 13px;
    font-size: 20px;
    font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
}
.BotonOrador{
    font-size: 16px;
    background-color: transparent;
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
    font-weight: 700;
    margin-right: 5px;
}
.Botontickets{
    background-color: #29a744;
    margin-top: 15px;
    border: 1px solid #29a744;
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
    font-weight: 700;
}

/* -----SECCION DOS----- */
.seccionDos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloSeccionDos{
    color: #353a40;
    text-align: center;
    margin: 10px 0;
}
.tarjetas{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-direction: column;
    gap: 15px;
}
.card {
    margin: 0 auto;
}
.lenguajesTarjetas{
    display: flex;
    flex-direction: row;
}
.card-title{
    font-size: 16px;
    margin: 6px 0 15px 0;
}
.card-text{
    font-size: 12px;
}
.lenguajesTarjetas .javaScript{
    font-size: 11px;
    margin: 0 5px 0 0;
    background-color: #ffc108;
    padding: 1px 5px;
    border-radius: 6px;
}
.lenguajesTarjetas .react{
    font-size: 11px;
    margin: 0 5px 0 0;
    color: #fff;
    background-color: #17a2b9;
    padding: 1px 5px;
    border-radius: 5px;
}
.lenguajesTarjetas .negocios{
    font-size: 11px;
    margin: 0 5px 0 0;
    color: #fff;
    background-color: #6c757c;
    padding: 1px 5px;
    border-radius: 5px;
}

.lenguajesTarjetas .startups{
    font-size: 11px;
    margin: 0 5px 0 0;
    color: #fff;
    background-color: #dc3546;
    padding: 1px 5px;
    border-radius: 5px;
}

/* -----SECCION TRES----- */

.seccionTres{
    width: 100%;
    margin-bottom: 30px;
}
.seccionTres .imgHonolulu{
    width: 100%;
    height: auto;
}
.imgDescripcion{
    display: flex;
    flex-direction: column;
}
.bsAsOctubre{
    padding: 17px;
    color: #fff;
    background-color: #353a40;
}
.bsAsOctubre p{
    width: 90%;
    text-align: justify;
    margin: 0 auto;
    font-size: 15px;
}
.bsAsOctubre h4{
    font-weight: bold;
    color: #fff;
    margin: 15px 0 15px 14px;
}
.botonSeccionTres{
    background-color: #353a40;
    margin: 15px 0 15px 14px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 3px 6px;
    outline: none;
}

/* -----SECCION CUATRO----- */

.seccionCuatro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 366px;
}
.textoForm{
    text-align: center;
}
.textoForm h2{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}
.textoForm p{
    text-align: center;
    font-size: 12px;
    
}
.formulario{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.datosContacto{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.datosContacto .datoNombre{
    width: 49%;
    outline: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    border: 1px solid #a6a9ac;
}
.datosContacto .datoApellido{
    width: 49%;
    outline: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    border: 1px solid #a6a9ac;
}
.textoMsj{
    width: 100%;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 7px 0 0 15px;
    border: 1px solid #a6a9ac;
}
.textoRecordatorio{
    font-size: 12px;
    color: #6c757c;
    margin: 5px 0 15px 0;
}
.botonEnviarForm{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 20px;
    background-color: #96c93e;
    color: #fff;
}

/* -----FOOTER----- */
footer{
    width: 100%;
    height: 10%;
    bottom: 0;
    margin-top: 15px;
    position: absolute;
    background-color: #1f6371;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    padding-left: 0;
    margin-bottom: 0;
}
footer ul li{
    text-align: center;
}
footer ul a{
    font-size: 15px;
    color: #fff;
    font-weight:600;
    text-decoration: none;
}

@media only screen and (min-width: 768px){
    /* -----SECCION HEADER----- */
    .menu{
        width: 35%;
        margin: 0 6px;
        align-items: flex-start;
    }
    .logoTexto{
        width: 100%;
    }
    .logoTexto h1{
        width: 100%;
        font-size: 18px;
    }
    .logo {
        width: 30%;
    }

    /* SECCION UNO */
    .textoBanner {
        top: 277px;
    }
    .navbar {
        padding: 10px;
    }

    /* SECCION DOS */

    .tarjetas {
        width: 90%;
        flex-direction: row;
    }
    /* SECCION TRES */

    .bsAsOctubre h4 {
        margin: 15px 0 15px 36px;
    }
    .botonSeccionTres {
        margin: 15px 0 15px 36px;
    }

    /* SECCION CUATRO */
    .seccionCuatro {
        margin-bottom: 12%;
    }

    /* FOOTER */
    footer{
        height: 3%;
    }
    footer ul {
        width: 100%;
        flex-direction: row;
    }
    footer ul a {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1024px){
    .menu{
        width: 25%;
        margin: 0;
        padding: 0;
    }
    .menuNav {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }
    .navbar {
        width: 64%;
    }
    .logo{
        width: 43%;
    }
    .logoTexto{
        width: 100%;
    }
    .logoTexto h1 {
        font-size: 20px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
    
    /* -----SECCION UNO----- */
    .seccionUno{
        height:650px;
    }
    .textoBanner{
        width: 50%;
        text-align: right;
        top: 400px;
        margin-right: 123px;
    }
    .textoBanner h2{
        margin-bottom: 13px;
    }
    .textoBanner p{
        width: 100%;
        margin-bottom: 13px;
        font-size: 17px;
    }

    /* -----SECCION DOS----- */
    .card{
        margin: 0;
    }

    /* -----SECCION TRES----- */
    .seccionTres .imgHonolulu{
        width: 50%;
        height: auto;
    }
    .imgDescripcion{
        flex-direction: row;
    }
    .bsAsOctubre p{
        font-size: 15px;
        margin: 15px 0 15px 16px;
    }
    .bsAsOctubre h4{
        margin: 15px 0 15px 16px;
    }
    
    .botonSeccionTres{
        margin: 15px 0 15px 16px;
    }

    /* -----SECCION CUATRO----- */
    .formulario{
        width: 50%;
    }
    .seccionCuatro {
        margin-bottom: 6%;
    }

    /* -----FOOTER----- */
    footer ul {
        width: 78%;
    }
    footer ul a {
        font-size: 12px;
    }
}